body {
    max-width: 600px;
    margin: auto;
}

#titel {
    text-align: center;
    background-color: rgb(250, 244, 215);
    color: rgb(171, 153, 109);
    padding: 17px 0px;
    width: 600px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

#navigation_div {
    border-bottom: 1px rgb(217, 217, 217) solid;
    color: rgb(115, 115, 115);
    margin: 0px;
}

div p {
    text-align: center;
    display: inline-block;
    text-decoration: underline dotted 1px grey;
    padding: 0px 10px;
}

h2 {
    text-align: center;
}

#img {
    background-image: url(dog2.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 150px;
    border: rgb(0, 0, 0) 1px solid
}

/* Kan jag inte bestämma exakt var hunden ska vara? */

h3 {
    font-size: 17px;
}

#copy {
    text-align: center;
    border-top: solid rgb(227, 227, 227) 1px;
    padding: 25px;
}